
  #inicial{
   text-align: right;
   background-color:#3a3d3a;
   margin: 0%;
   padding-top: 30px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
}
img{
   vertical-align: middle;
   margin-right: 30px;
   margin-left: 0px;
}
#imagen2{
  vertical-align: middle;
  margin-right: 0px;
  margin-left: 0px;
}
#centro{
   padding-right: 10px;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: rgb(231, 231, 231);
  
  
}
#sesion{
   border: none;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 40px;
   padding-right: 40px;
   background-color: white;
}

 
 
 
 
 
 
 
 
 #navegacion{
    

    overflow: hidden;
    background-color: #ffffff;
    top: 0;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
 
 }
 #encabezado{
    
   color: #000;
    
 }
 #encabezado:hover{
  color: rgb(223, 9, 151);;
  font-size: x-large;
}
 #imagen1{
    
    width: 95%;
  }
  #imagen1{
    margin-top: 20PX;
   margin-left: 30px;
   margin-right: 60px;
   margin-bottom: 20px;
   padding-top: 40PX;
   background-color: #3a3d3a;
   
 }

 #formulario{
   text-align: center;
   margin-left: 60px;
   margin-right: 60px;
   background-color: #3a3d3a;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
  
   
 }
 h1{
   text-align: left;
   color: rgb(27, 39, 207);
   padding-top: 10px;
   padding-left: 50px;
 }


 table {
  text-align: center; 
  width: 100%;  
  padding: 20px;
}
  

 th{
   
 color: antiquewhite;
 padding-left: 30px;
 padding-right: 5px;
 padding-bottom: 10px;
 text-align: left;
 }


 #Vacio{
   width: 100%;
   
 }
 #Vacio1{
  width: 100%;
  
}
 #botones{
   text-align: right;
   padding-right: 20px;
   
 }
 #boton1{
   
   border: none;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 50px;
   padding-right: 50px;
   margin-right: 30px;
 }
 #boton2{
   background-color: rgb(255, 238, 2);
   border: none;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 50px;
   padding-right: 50px;
 }









 nav a{
    float: right;
    padding: 20px;
    
 }
 
 #pie{
    
    margin-top: 20px;
    overflow: hidden;
    background-color: #3a3d3a;
    top: 0;
    padding: 30px;
    
 }
 #pie2{
 
    color: aliceblue;
    border-right-style: solid;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 0;
   
 

 }
 #pie3{
   
    color: aliceblue;
    padding-right: 80px;
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 0;
   
 }